<meta name="google-site-verification" content="r9gbiGXLEPXsCujCuvE6TOV64I-wAyAjgbKE1VghxjQ" />
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T9S490RVPF"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7463749682363200" crossorigin="anonymous"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-T9S490RVPF');
</script>
