<!doctype html>
<html>
  <head>
    <meta name="naver-site-verification" content="ffdf97933bf030ea5a580336117b49bb4998841f" />
    <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript">
      window.wcs_add = window.wcs_add || {};
      wcs_add["wa"] = "4ffaff99b3ce38";
      if(window.wcs){wcs_do();}
    </script>
    <meta name="google-site-verification" content="r9gbiGXLEPXsCujCuvE6TOV64I-wAyAjgbKE1VghxjQ" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9S490RVPF"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7463749682363200" crossorigin="anonymous"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-T9S490RVPF');
    </script>
    <meta charset="utf-8" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="https://sweettodaynote.github.io/">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/88458911">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@sweettodaynote">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta property="profile:first_name" content="보나">
    <meta property="profile:last_name" content="윤">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org", "@type": "WebSite",
        "url": "https://sweettodaynote.github.io",
        "name": "{{ site.title }}",
        "description": "{{ site.description }}",
        "author": { "@type": "Person", "name": "윤보나" },
        "sameAs": [
          "https://blog.naver.com/miyuki1253",
          "https://m.blog.naver.com/miyuki1253",
          "https://www.youtube.com/channel/UCBvTaZ8xYuUNarwWz9BWU5A",
          "https://brunch.co.kr/@aac5cc83b0654bc",
          "https://www.instagram.com/sweetodaynote/",
          "https://www.facebook.com/112773071055748",
          "https://band.us/@sweetodaynote",
          "https://twitter.com/sweetodaynote",
          "https://in.naver.com/bona_yoon",
          "https://pf.kakao.com/_Cxmzms",
          "https://story.kakao.com/ch/sweetodaynote/app",
          "https://www.crowdpic.net/@Nmiyuki1253"
        ]
      }
    </script>
    <link rel="apple-touch-icon" sizes="57x57" href="https://avatars.githubusercontent.com/u/88458911?s=57">
    <link rel="apple-touch-icon" sizes="60x60" href="https://avatars.githubusercontent.com/u/88458911?s=60">
    <link rel="apple-touch-icon" sizes="72x72" href="https://avatars.githubusercontent.com/u/88458911?s=72">
    <link rel="apple-touch-icon" sizes="114x114" href="https://avatars.githubusercontent.com/u/88458911?s=114">
    <link rel="apple-touch-icon" sizes="120x120" href="https://avatars.githubusercontent.com/u/88458911?s=120">
    <link rel="apple-touch-icon" sizes="144x144" href="https://avatars.githubusercontent.com/u/88458911?s=144">
    <link rel="apple-touch-icon" sizes="152x152" href="https://avatars.githubusercontent.com/u/88458911?s=152">
    <link rel="apple-touch-icon" sizes="180x180" href="https://avatars.githubusercontent.com/u/88458911?s=180">
    <link rel="icon" type="image/png" sizes="192x192" href="https://avatars.githubusercontent.com/u/88458911?s=192">
    <link rel="icon" type="image/png" sizes="96x96" href="https://avatars.githubusercontent.com/u/88458911?s=96">
    <link rel="icon" type="image/png" sizes="32x32" href="https://avatars.githubusercontent.com/u/88458911?s=32">
    <link rel="icon" type="image/png" sizes="16x16" href="https://avatars.githubusercontent.com/u/88458911?s=16">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://avatars.githubusercontent.com/u/88458911">
    <meta name="theme-color" content="#ffffff">
    <style>
      * { margin:0; padding:0; }
      html, body { background: #333; color: #fff; position: relative; }
      .canvas { width: 100%; max-width:860px; margin-left:auto; margin-right:auto; position: relative; overflow: hidden; }
      .canvas frame { width: 100%; background: transparent; }
      .rss-feeds {}
      .rss-feeds ul { list-style: none; margin: 0; padding: 0; }
      .rss-feeds li { margin: 15px; padding: 15px; background: #fff; color: #333; box-shadow: #fff 1px 1px 1px; border-radius: 0.3rem; }
      .rss-feeds li a { text-decoration: inherit; color: inherit; display: block; font-size: 1rem; }
      .rss-feeds li h3 { margin: 0; padding: 0; margin-top: 0.5rem; font-size: 1rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
      .rss-feeds li p { margin: 0; padding: 0; margin-top: 0.5rem; font-size: 0.9rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    </style>
  </head>
  <body>
    <div class="canvas">
      <img src="/assets/landing.jpg">
      <iframe id="frame" src="about:blank" allowtransparency="true"></iframe>
    </div>
    <div class="canvas feeds">
      <div class="rss-feeds" id="youtube"></div>
      <div class="rss-feeds" id="nblog"></div>
    </div>
    <script src="https://polyfill.io/v3/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-rss/4.3.0/jquery.rss.min.js" integrity="sha512-JnQUNrbJVvNWgmwaNZ6/kFdqHLmaoEt2ZYcbiu/58F8nIjTZaQel5Tp3Rl20F3AI7pIANU8/98NJHqHyGHP7Rg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      jQuery(function ($) {
        $('#frame').attr('src', 'https://blog.naver.com/miyuki1253/222464754862');
      });
      jQuery(function ($) {
        
        var TMP_YTUBE = '<li><a href="{url}"><img src="{thumbnail}"><h3>{title}</h3></a></li>';
        var TMP_NBLOG = '<li><a href="{url}"><h3>{title}</h3></a><p>{shortBodyPlain}</p></li>';
        var URI_YTUBE = "https://www.youtube.com/feeds/videos.xml?channel_id=UCBvTaZ8xYuUNarwWz9BWU5A";
        var URI_NBLOG = "https://rss.blog.naver.com/miyuki1253.xml";
        var TOK_YTUBE = {
          thumbnail: function(entry, tokens) {
            var uri = new URL(entry.link), v = uri.searchParams.get('v');
            return 'https://img.youtube.com/vi/{0}/0.jpg'.replace('{0}', v);
          }
        };
        var TOK_NBLOG = {};
        $("#youtube").rss(URI_YTUBE, { tokens: TOK_YTUBE, entryTemplate: TMP_YTUBE, dateLocale: 'ko', dateFormat: 'YYYY-MM-DD', limit: 3, });
        $("#nblog").rss(URI_NBLOG, { tokens: TOK_NBLOG, entryTemplate: TMP_NBLOG, dateLocale: 'ko', dateFormat: 'YYYY-MM-DD', limit: 5, });
      });
    </script>
  </body>
</html>
