<!doctype html>
<html>
  <head>
    <meta name="naver-site-verification" content="ffdf97933bf030ea5a580336117b49bb4998841f" />
    <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript">
      window.wcs_add = window.wcs_add || {};
      wcs_add["wa"] = "4ffaff99b3ce38";
      if(window.wcs){wcs_do();}
    </script>
    <meta name="google-site-verification" content="r9gbiGXLEPXsCujCuvE6TOV64I-wAyAjgbKE1VghxjQ" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9S490RVPF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-T9S490RVPF');
    </script>
    <meta charset="utf-8" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:url" content="https://sweettodaynote.github.io/">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/88458911">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@sweettodaynote">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta property="profile:first_name" content="보나">
    <meta property="profile:last_name" content="윤">
    <link rel="apple-touch-icon" sizes="57x57" href="https://avatars.githubusercontent.com/u/88458911?s=57">
    <link rel="apple-touch-icon" sizes="60x60" href="https://avatars.githubusercontent.com/u/88458911?s=60">
    <link rel="apple-touch-icon" sizes="72x72" href="https://avatars.githubusercontent.com/u/88458911?s=72">
    <link rel="apple-touch-icon" sizes="114x114" href="https://avatars.githubusercontent.com/u/88458911?s=114">
    <link rel="apple-touch-icon" sizes="120x120" href="https://avatars.githubusercontent.com/u/88458911?s=120">
    <link rel="apple-touch-icon" sizes="144x144" href="https://avatars.githubusercontent.com/u/88458911?s=144">
    <link rel="apple-touch-icon" sizes="152x152" href="https://avatars.githubusercontent.com/u/88458911?s=152">
    <link rel="apple-touch-icon" sizes="180x180" href="https://avatars.githubusercontent.com/u/88458911?s=180">
    <link rel="icon" type="image/png" sizes="192x192" href="https://avatars.githubusercontent.com/u/88458911?s=192">
    <link rel="icon" type="image/png" sizes="96x96" href="https://avatars.githubusercontent.com/u/88458911?s=96">
    <link rel="icon" type="image/png" sizes="32x32" href="https://avatars.githubusercontent.com/u/88458911?s=32">
    <link rel="icon" type="image/png" sizes="16x16" href="https://avatars.githubusercontent.com/u/88458911?s=16">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://avatars.githubusercontent.com/u/88458911">
    <meta name="theme-color" content="#ffffff">
    <style>
      * { margin:0; padding:0; }
      html, body { background: #333; }
      .canvas { width: 100%; max-width:860px; margin-left:auto; margin-right:auto; position: relative; }
      img { width: 100%; }
    </style>
  </head>
  <body>
    {{ page.id }}
    <div class="canvas">
      <img src="/assets/landing.jpg">
      <a href="https://in.naver.com/bona_yoon" title="Naver Influencer" style="position: absolute; left: 0%; top: 45.86%; width: 101.16%; height: 54.09%; z-index: 2;"></a>
    </div>
  </body>
</html>
